{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="reponame">
        <a href="/projects/{{ project.name }}"><strong>{{ project.name }}</strong></a>
    </h1>

    <ul class="nav nav-tabs">
        <li>
            <a href="/projects/{{ project.name }}/overview">
                <span class="fa fa-home"></span>
                Overview
            </a>
        </li>
        <li>
            <a href="/projects/{{ project.name }}/packages">
                <span class="fa fa-archive"></span>
                Packages
            </a>
        </li>
        <li class="active">
            <a href="/projects/{{ project.name }}/builds">
                <span class="fa fa-tasks"></span>
                Builds
            </a>
        </li>
    </ul>

    <div class="content">
        <h3 class="page-title">Builds</h3>
        <table class="table table-stripped table-bordered">
            <thead>
                <tr>
                <th>ID</th>
                <th>Package Name</th>
                <th>Package Version</th>
                <th>Submitted</th>
                <th>Action</th>
                <th>Status</th>
                <th>Job Status</th>
                </tr>
            </thead>
            <tbody>
                {% for pkg in pkgs %}
                <tr>
		    <td><a href="/filecache/debian-package/{{pkg.id}}">{{ pkg.id }}</a></td>
                    <td>
                        <a href="/debian/packages?pkgname={{ pkg.pkgname }}">{{ pkg.pkgname }}</a>
                    </td>
                    <td>{{ pkg.pkgver }}</td>
                    <td>{{ pkg.status_changed }}</td>
		    <td><strong>{{ pkg.action }}</strong></td>
		    {% if pkg.upload_status == 0 %}
		    <td><a>Unknown</a></td>
		    {% elif pkg.upload_status == 100 %}
		    <td><a>Wait</a></td>
		    {% elif pkg.upload_status == 200 %}
		    <td><a>Uploading</a></td>
		    {% elif pkg.upload_status == 300 %}
		    <td><a href="/debian/upload/{{ pkg.id }}">Failed</a></td>
		    {% elif pkg.upload_status == 400 %}
		    <td><a href="/debian/upload/{{ pkg.id }}">Success</a></td>
		    {% elif pkg.upload_status == 500 %}
		    <td><a>GiveUp</a></td>
		    {% else %}
		    <td><a>Wait</a></td>
		    {% endif %}

		    <td>
		    {% for job in builds.get(pkg.id) %} 
		    <a href="/debian/job/{{job.id}}"><span id="job-{{job.id}}"
		    {% if job.status == 100 %} 
		    class="label label-warning" title="WAIT"
		    {% elif job.status == 200 %} 
		    class="label label-primary" title="BUILDING"
		    {% elif job.status == 800 %} 
		    class="label label-default" title="CANCELED"
		    {% elif job.status == 850 %} 
		    class="label label-default" title="GIVEUP"
		    {% elif job.status == 1000 %} 
		    class="label label-success" title="BUILD_OK"
		    {% else %}
            class="label label-danger job-{{job.status}}" title="FAILED"
	 	    {% endif %} 
		    >{{job.dist}}/{{job.arch}}</span></a>
		    {% endfor %}
		    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block build_footer %}
{% endblock %}

{% block javascripts %}
<script>$(function(){ $("#header_repository").addClass("active"); })</script>
{% endblock %}
