{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="reponame">
        <a href="/projects/{{ project.name }}"><strong>{{ project.name }}</strong></a>
    </h1>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="/projects/{{ project.name }}/overview">
                <span class="fa fa-home"></span>
                Overview
            </a>
        </li>
        <li>
            <a href="/projects/{{ project.name }}/packages">
                <span class="fa fa-archive"></span>
                Packages
            </a>
        </li>
        <li>
            <a href="/projects/{{ project.name }}/builds">
                <span class="fa fa-tasks"></span>
                Builds
            </a>
        </li>
    </ul>

    <div class="content">
        <h3>Description</h3>
        <p>{{ project.description }}</p>
        <h3>Releases</h3>
        <p>Description about Releases<p>
        <table class="table table-stripped table-bordered">
            <thead>
                <th>Release</th>
                <th>Architectures</th>
                <th>Sources</th>
            </thead>
            <tbody>
                {% for dist in project.dists %}
                <tr>
                    <td><img src="">{{ dist }}</td>
                    <td>
		    {% if project.get('%s-arches' % dist) %}
			{% for arch in project.get('%s-arches' % dist) %}
			    <span class="label label-default">{{ arch }}</span>
			{% endfor %}
		    {% else %}
			{% for arch in project.arches %}
			    <span class="label label-default">{{ arch }}</span>
			{% endfor %}
		    {% endif %}
                    </td>
                    <td class="rightmost">
			<a class="label label-info">deb {{ project.url }}  {{dist}} main</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
	{% if ppas %}
        <h3>PPAs</h3>
	    <table class="table table-stripped table-borderred">
		<thead>
		    <th>Name</th>
		    <th>Url</th>
		</thead>
	    <tbody>
	    {% for ppa in ppas %}
	    <tr><td>{{ ppa }}</td><td><a class="label label-default">{{project.repos_url}}/ppa/{{project.name}}/{{ ppa }} </a></td></tr>
	    {% endfor %}
	    </tbody>
	    </table>
	{% endif %}
    </div>
</div>
{% endblock %}

{% block build_footer %}
{% endblock %}

{% block javascripts %}
<script>$(function(){ $("#header_repository").addClass("active"); })</script>
{% endblock %}
