{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="reponame">
        <a href="/projects/{{ project.name }}"><strong>{{ project.name }}</strong></a>
    </h1>

    <ul class="nav nav-tabs">
        <li>
            <a href="/projects/{{ project.name }}/overview">
                <span class="fa fa-home"></span>
                Overview
            </a>
        </li>
        <li class="active">
            <a href="/projects/{{ project.name }}/packages">
                <span class="fa fa-archive"></span>
                Packages
            </a>
        </li>
        <li>
            <a href="/projects/{{ project.name }}/builds">
                <span class="fa fa-tasks"></span>
                Builds
            </a>
        </li>
    </ul>

    <div class="content">
        <h3>Repo Packages</h3>
        <table class="table table-stripped table-bordered">
            <thead>
                <th>Name</th>
                <th>Last Version</th>
                <th>Last Submitted</th>
                <th>Build Status</th>
            </thead>
            <tbody>
                {% for pkg in pkgs %}
                <tr>
                    <td>
                        <a href="/debian/packages?pkgname={{ pkg.pkgname }}">{{ pkg.pkgname }}</a>
                    </td>
                    <td> {{ pkg.pkgver }} </td>
                    <td> {{ pkg.status_changed }}</td>
		    {% if pkg.upload_status == 100 %}
		    <td><a>Waiting</a></td>
		    {% elif pkg.upload_status == 300 %}
		    <td><a>Failed</a></td>
		    {% elif pkg.upload_status == 400 %}
		    <td><a>Success</a></td>
		    {% else %}
		    <td><a>Unknown</a></td>
		    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block build_footer %}
{% endblock %}

{% block javascripts %}
<script>$(function(){ $("#header_repository").addClass("active"); })</script>
{% endblock %}
