.container {
    width: 100%;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.job-action-btn {
    float: right;
    margin-top: -30px;
    margin-right: 30px;
    margin-bottom: 5px;    
}
