{% extends "header.html" %}
{% block content %}
<div class="jumbotron">
    <table class="table table-condensed">
        <tr><td style="font-weight:bolder; width: 130px;">Date:</td><td>{{ job.build }}</td></tr>
        <tr><td style="font-weight:bolder;">Package:</td><td>{{ job.jobname }}</td></tr>
        <tr><td style="font-weight:bolder;">Dist</td><td>{{ job.dist }}</td></tr>
        <tr><td style="font-weight:bolder;">Arch:</td><td>{{ job.arch }}</td></tr>
        <tr><td style="font-weight:bolder;">BuildLog:</td><td>
            <pre>
{{ log }}
            </pre>
        </td></tr>
    </table>
</div>
{% endblock %}
