{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Pbuilder Builds</h1>
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead><tr>
		      <th>ID</th>
                      <th>Name</th>
		      <th>Field</th>
                      <th>Dist</th>
                      <th>Arch</th>
                      <th>Build Time</th>
                      <th>Build Status</th>
                </tr></thead>
                <tbody>
                    {% for job in jobs %}
                    <tr class="tr-job" id="tr-job-{{ job.id }}">
                        <td style="width: 40px">{{ job.id }}</span></td>
                        <td><a title="" href="/pbuilder?jobname={{ job.jobname }}">{{ job.jobname }}</a></td>
			<td>{{ job.field }}</td>
                        <td>{{ job.dist }}</td>
			<td>{{ job.arch }}</td>
			<td>{{ job.build }}</td>
			<td>
			{% if job.status == 100 %}
			<a href="/pbuilder/{{job.id}}"><span id="job-{{job.id}}" class="label label-warning">Waiting</span></a>
			{% elif job.status == 200 %}
			<a href="/pbuilder/{{job.id}}"><span id="job-{{job.id}}" class="label label-primary">Building</span></a>
			{% elif job.status < 1000 %}
			<a href="/pbuilder/{{job.id}}"><span id="job-{{job.id}}" class="label label-danger">Failed</span></a>
			{% elif job.status == 1000 %}
			<a href="/pbuilder/{{job.id}}"><span id="job-{{job.id}}" class="label label-success">Success</span></a>
			{% endif %}
			</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
	    
	    <ul class="pagination">
		<li><a href="#">&laquo;</a></li>
		{% for page in pages %}
		<li><a href="/debian/pbuilder?page={{page}}">{{page}}</a></li>
		{% endfor %}
		<li><a href="#">&raquo;</a></li>
	    </ul>

        </div>
    </div>
    
{% endblock %}
