<div class="builder_footer" style="bottom:0px;left:0px;width:100%;">
    <div class="well" style="margin-left: 0px; padding: 7px 5px; border-radius:0;" >
        <h5>Build Status:
            <!--
                <span class="label label-default">Wait</span>
            -->
            <span class="label label-warning">Waiting</span>
            <span class="label label-primary">Building</span>
            <span class="label label-success">Success</span>
            <span class="label label-danger">Error</span>
        </h5>
    </div>
</div>
