{% extends "base.html" %}
{% block content %}
    <ul class="breadcrumb">
	<li><a href="/projects">Projects</a> <span class="divider">/</span></li>
    {% for project in projects %}
    <li><a href="/projects/{{ project.name }}">{{ project.name }}</a></li>
    {% endfor %}
    </ul>
    <div class="alert alert-info">
	<strong>Build</strong> with    {{status['waiting']}}    <strong>Waiting</strong>
	and  {{status['building']}}   <strong>Building</strong>
    </div>
    <div class="container">
        <h1>Recent Builds</h1>
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead><tr>
                      <th>Build</th>
                      <th>Repo</th>
                      <th>Package</th>
                      <th>Package Version</th>
                      <th>Upload Status</th>
                      <th>Upload Time</th>
                      <th>Build Status</th>
                </tr></thead>
                <tbody>
                    {% for pkg in pkgs %}
                    <tr class="tr-pkg" id="tr-pkg-{{ pkg.id }}">
			<td><a href="/filecache/debian-package/{{pkg.id}}">{{ pkg.id }}</a></td>
                        <td><a href="/debian/packages?reponame={{ pkg.reponame }}">{{ pkg.reponame }}</a></td>
                        <td><a title="" href="/debian/packages?pkgname={{ pkg.pkgname }}">{{ pkg.pkgname }}</a></td>
                        <td>{{ pkg.pkgver }}</td>
			{% if pkg.upload_status == 0 %}
                        <td><img id="" src="">unknow</td>
                        <td><img id="" src=""> - </td>
			{% elif pkg.upload_status == 100 %}
			<td><img id="" src="">waiting</td>
			<td><img id="" src="">{{pkg.status_changed}}</td>
			{% elif pkg.upload_status == 200 %}
			<td><img id="" src="">uploading</td>
			<td><img id="" src="">{{pkg.status_changed}}</td>
			{% elif pkg.upload_status == 300 %}
			<td><img id="" src=""><a href="/debian/upload/{{pkg.id}}">failed</a></td>
			<td><img id="" src="">{{pkg.status_changed}}</td>
			{% elif pkg.upload_status == 400 %}
			<td><img id="" src=""><a href="/debian/upload/{{pkg.id}}">succeeded</a></td>
			<td><img id="" src="">{{pkg.status_changed}}</td>
			{% else %}
                        <td><img id="" src="">giveup</td>
			<td><img id="" src="">{{pkg.status_changed}}</td>
			{% endif %}

                        <td>
                        {% for job in builds.get(pkg.id) %}
                            {% if job.status == 100 %}
                            <a href="/debian/job/{{job.id}}"><span id="job-{{job.id}}"  class="label label-warning" title="">{{job.dist}}/{{job.arch}}</span></a>
                            {% elif job.status == 200 %}
                            <a href="/debian/job/{{job.id}}"><span id="job-{{job.id}}"  class="label label-primary" title="">{{job.dist}}/{{job.arch}}</span></a>
                            {% elif job.status == 850 or job.status == 800 %}
                            <a href="/debian/job/{{job.id}}"><span id="job-{{job.id}}"  class="label label-default" title="">{{job.dist}}/{{job.arch}}</span></a>
                            {% elif job.status == 1000  %}
                            <a href="/debian/job/{{job.id}}"><span id="job-{{job.id}}"  class="label label-success" title="">{{job.dist}}/{{job.arch}}</span></a>
                            {% else  %}
                            <a href="/debian/job/{{job.id}}"><span id="job-{{job.id}}"  class="label label-danger" title="">{{job.dist}}/{{job.arch}}</span></a>
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
	    
	    <ul class="pagination">
		<li><a href="#">&laquo;</a></li>
		{% for page in pages %}
        {% if 'reponame' in extra_args %}
        <li><a href="/debian/packages?reponame={{extra_args['reponame']}}&page={{page}}">{{page}}</a></li>
        {% else %}
		<li><a href="/debian/packages?page={{page}}">{{page}}</a></li>
        {% endif %}
		{% endfor %}
		<li><a href="#">&raquo;</a></li>
	    </ul>

        </div>
    </div>
    
{% endblock %}
