{% extends "base.html" %}
{% block content %}
    <div class="container" style="margin-left:0;">
        <table style="width:100%;" class="table table-condensed">
            {% for incoming in incomings %}
            <tr id="tr-incoming-{{ loop.index }}">
                <td style="width: 40px"><span class="badge badge-inverse">{{ loop.index }}</span></td>
                <td style="min-width:150px;"><a title="{{ incoming['changed_by'] }}">{{ incoming['Source'] }}-{{ incoming['version'] }}</a></td>
                <td style="width:80px;"><span style="font-size:0.6em;white-space:nowrap;">{{ incoming['Maintainer'] }}</span></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
<script>$(function(){ $("#header_incoming").addClass("active"); })</script>
{% endblock %}
