{% extends "header.html" %}
{% block content %}
<div class="jumbotron">
    <!-- Button trigger modal -->
    <button type="button" class="job-action-btn btn btn-primary" data-toggle="modal" data-target="#jobAction">
        {% if job.status == 200 %}
        Abort Build
        {% elif job.status == 100 %}
        Cancel Build
        {% else %}
        Rebuild
        {% endif %}
    </button>
    <div class="modal fade" id="jobAction" tabindex="-1" role="dialog" aria-labelledby="actionLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% if job.status == 200 %}
                    <h4 class="modal-title" id="actionLabel" _action="abort" _id={{ job.package.id }}>Abort Build {{ job.package.pkgname }} {{ job.package.pkgver }}</h4>
                    {% elif job.status == 100 %}
                    <h4 class="modal-title" id="actionLabel" _action="cancel" _id={{ job.package.id }}>Cancel Build {{ job.package.pkgname }} {{ job.package.pkgver }}</h4>
                    {% else %}
                    <h4 class="modal-title" id="actionLabel" _action="rebuild" _id={{ job.package.id }}>ReBuild {{ job.package.pkgname }} {{ job.package.pkgver }}</h4>
                    {% endif %}
                </div>
                <div class="modal-body">
                {% if job.status == 200 %}
                Abort Build. The Build: {{ job.id }} with its package {{ job.package.id }}  will be aborted!
                {% elif job.status == 100 %}
                Cancel Build. The Build: {{ job.id }} with its package {{ job.package.id }}  will be canceled!
                {% else %}
                ReBuild package again. 
                {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="pkg-action-btn">Done</button>
                </div>
            </div>
        </div>
    </div>
    <script>
$("#pkg-action-btn").click(function(){
    var a = $("#actionLabel");
    data = { pkgid: a.attr("_id"), action: a.attr("_action")};
    $.ajax({
        url : "/api/job",
        type: "POST",
        data: JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
            location.reload();
        }
    });
});
    </script>
    <table class="table table-condensed">
        <tr><td style="font-weight:bolder; width: 130px;">Date:</td><td>{{ job.creation_date }}</td></tr>
        <tr><td style="font-weight:bolder;">Package:</td><td>{{ job.package.pkgname }}</td></tr>
        <tr><td style="font-weight:bolder;">Version:</td><td>{{ job.package.pkgver }}</td></tr>
        <tr><td style="font-weight:bolder;">Arch:</td><td>{{ job.arch }}</td></tr>
        <tr><td style="font-weight:bolder;">Host:</td><td>
        {% if job.status == 100 %}
		<a class="label label-warning">
        {% elif job.status == 200 %}
		<a class="label label-primary">
        {% elif job.status == 850 %}
		<a class="label label-default">
        {% elif job.status == 1000 %}
		<a class="label label-success">
        {% else %}
		<a class="label label-danger">
        {% endif %}
	    {{ job.build_host }} </a> 
	</td></tr>
        <tr><td style="font-weight:bolder;">Build_start:</td><td>{{ job.build_start }}</td></tr>
        <tr><td style="font-weight:bolder;">Build_end:</td><td>{{ job.build_end }}</td></tr>
        <tr><td style="font-weight:bolder;">BuildLog:</td><td>
            <pre>
{{ log }}
            </pre>
        </td></tr>
    </table>
</div>

{% endblock %}

{% block javascripts %}
{% if job.status == 200 %}
<script type="text/javascript" src="/static/job.js"></script>
{% endif %}
{% endblock %}
