{% extends "header.html" %}
{% block content %}
<div class="well">
	{% if pkg %}
	Log for: {{pkg.id}} {{pkg.pkgname}} {{pkg.pkgver}}
	{% else %}
	Something Wrong!
	{% endif %}
</div>

<pre id='pre-log' class='pre-scrollable' style="max-height: 500px;">
{{ logs }}
</pre>
{% endblock %}
