{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md9 col-sm">
                <br>
                <h2 class="page-title">Debian Based Projects</h2>
                <div class="panel panel-default">
                    <div class="list-group">
                        {% for project in projects %}
                        <a href="/projects/{{ project.name }}" class="list-group-item">
                            <h3 class="list-group-item-heading">
                                {{ project.name }}
                            </h3>
                            <span class="list-group-item-text">
                                {{ project.description }}
                                <ul class="list-inline text-muted">
                                    <li>
                                        {% for dist in project.dists %}
                                        <strong>{{ dist }}:</strong>
					{% if project.get('%s-arches' % dist) %}
					    {% for arch in project.get('%s-arches' % dist) %}
					    <small> {{arch}} </small>
					    {% endfor %}
					{% else %}
					    {% for arch in project.arches %}
					    <small> {{arch}} </small>
					    {% endfor %}
					{% endif %}
                                        {% endfor %}
                                    </li>
                                </ul>
                            </span>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div> <!-- col-md9 -->
            <div class="col-md9 col-sm">
                <br>
                <h2 class="page-title">Builder Base Environment</h2>
                <div class="panel panel-default">
                    <div class="list-group">
                        <a href="/pbuilder" class="list-group-item">
			    <h3 class="list-group-item-heading">
				Pbuilder
			    </h3>
                            <span class="list-group-item-text">
				Pbuilder Base Image 
				<br>
				<strong> BaseImages </strong>
				<ul class="list-inline text-muted">
				    <li>
					<small>default</small>
					<small>qt5</small>
					<small>go</small>
				    </li>
				</ul>
                            </span>
                        </a>
                    </div>
                </div>
            </div> <!-- col-md9 -->

        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script>$(function(){ $("#header_build").addClass("active");  $(".builder_footer").hide();})</script>

<!-- <script type="text/javascript" src="/static/builds.js"></script> -->
{% endblock %}
