{% extends "header.html" %}
{% block content %}
<div class="col-md-9 main-content">
<table class="table table-stripped table-bordered" style="width:95%;text-align:left;clear: both;" id="listqr">
    <thead>
    <tr>
        <th style="border-left:0px;text-align:left;width: 50px;"><h5><b>Status</b></h5></th>
        <th style="width: 50px;"><h5><b>Name</b></h5></th>
        <th style="width: 50px;"><h5><b>Supports</b></h5></th>
        <th style="width: 100px;"><h5><b>URL</b></h5></th>
    </tr>
    </thead>
	<tbody>
{% for slave in slaves %}
		<tr>
			<td style="border-left:0px;"><font class="label status label-info" style="width: 60px;border-radius: .25em;">{{ slave.builder_status }}</font></td>
			<td>{{ slave.name }}</td>
			<td>
				{% for builder in slave.builders %}
				<h5>{{ builder }}</h5>
				{% endfor %}
			</td>
			<td><code>{{ slave.url }}</code></td>
		</tr>
{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/build.js"></script>
{% endblock %}
